<div>

<div>
    <mat-button-toggle-group  #group="matButtonToggleGroup" value="personnel-form"
    appearance="legacy"
    name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="personnel-form" mat-button style="color:green">
        <mat-icon>person</mat-icon>
        <b> Add company info</b>
      </mat-button-toggle>
      <mat-button-toggle value="outlet-form" mat-button style="color:green">
        <mat-icon>view_module</mat-icon>
        <b> Add outlets</b>
      </mat-button-toggle>
      <mat-button-toggle value="image-form" mat-button style="color:green">
        <mat-icon>add_box</mat-icon>
        <b> Add image</b>
      </mat-button-toggle>
      <mat-button-toggle value="image-gallery" mat-button style="color:green">
        <mat-icon>image</mat-icon>
        <b> Go To Gallery</b>
      </mat-button-toggle>
    </mat-button-toggle-group>
</div>

<div *ngIf="group.value == 'personnel-form'">
    <app-shop-user-form></app-shop-user-form>
</div>

<div *ngIf="group.value == 'outlet-form'">
    <app-shop-user-outlet-form></app-shop-user-outlet-form>
</div>

<div *ngIf="group.value == 'image-form'">
  <app-image-upload 
  [imageRequestType]='imageRequestType' 
  [rootPath]='rootPath'
  [imageListRoutePath]='imageListRoutePath'>
  </app-image-upload>
</div>

<div *ngIf="group.value == 'image-gallery'">
  <app-image-gallery-list 
  [imageFolderName] = 'imageFolderName'>
  </app-image-gallery-list>
</div>

</div>