.login-card-div {
  margin-top: 175px;
  align-content: center;
  display: flex;
  justify-content: center;
}

.app-button {
  border: 1px thin currentColor;
  padding: 0 15px;
  line-height: 34px;
  margin-right: 20px;
}

.app-btn-green{
  background-color: green;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 0px;
  margin-right: 10px;
}

.app-btn-clear{
  background-color: rgb(228, 226, 226);
  color: black;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 10px;
  margin-right: 0px;
}

.div-app-button {
  margin-top: 20px;
  text-align: center;
}
