<!-- Default form login -->

<div class="login-card-div">
    <mat-card>
        <mat-card-title>Login</mat-card-title>
        <hr>
        <mat-card-content>
             
                <!-- Template driven form -->
                <form action="#!" #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">

                    <label for="email">E-mail</label>
                    <div class="form-group">
                        <!-- E-mail   -->
                        <input type="email" ngModel autocomplete="email" name="email" id="defaultRegisterFormEmail"
                            class="form-control mb-4" required>
                    </div>

                    <label for="password">Password</label>
                    <div class="form-group">
                        <!-- Password   -->
                        <input type="password" autocomplete="password" ngModel name="password"
                            id="defaultRegisterFormPassword" class="form-control mb-4"
                            aria-describedby="defaultRegisterFormPasswordHelpBlock" required>
                    </div>

                    <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-danger mb-4" *ngIf="error">
                        <p>{{ error }}</p>
                    </small>

                    <!-- Sign up button   -->

                    <div class="div-app-button">
                        <button class="app-btn-green" [disabled]="loginForm.status=='INVALID'" mat-flat-button
                            type="submit">
                            Login
                        </button>

                        <button class="app-btn-clear" type="button" mat-flat-button
                            routerLink="/register">
                            Register
                        </button>
                    </div>

                    <!-- <div class="ele-div">
                        <button class="app-button" [disabled]="loginForm.status=='INVALID'" mat-flat-button
                            color="primary" type="submit">
                            Login
                        </button>

                        <button class="app-button" type="button" mat-flat-button
                            routerLink="/register">
                            Register
                        </button>
                    </div> -->
                </form>
                <!-- Default form login   -->
             


        </mat-card-content>
    </mat-card>
</div>