<div>
  <div *ngIf="isProductForm">

    <ng-template #categoryListElseTemplate>
      <div class="div-app-button">
        Please add category before create product.
        <button mat-flat-button class="app-btn-green" (click)="createOrUpdateCategory()" type="button">
          Create Category
        </button>
      </div>
    </ng-template>

    <div class="row" *ngIf="categoryList && categoryList.length > 0; else categoryListElseTemplate;">

      <!-- product details -->
      <div class="col-md-6 mar-bot">
        <div>
          <mat-card>
            <!-- <mat-card-title>{{productKey ? 'Update Product' : 'Create Product' }} </mat-card-title>
            <hr> -->
            <mat-card-content>


              <div>
                <!-- Template driven form -->
                <form action="#!" #productFormTag="ngForm" (ngSubmit)="onSubmit(productFormTag)">

                  <label for="title">Title</label>
                  <div class="form-group">
                    <!-- Title   -->
                    <input #title="ngModel" type="text" [(ngModel)]='product.title' name="title" id="title"
                      class="form-control mb-4" required>

                    <small class="form-text text-danger mb-4" *ngIf="title.touched && title.invalid">
                      <p>title is required.</p>
                    </small>

                  </div>

                  <!-- Price   -->
                  <label for="price">Price</label>
                  <div class="form-group">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                      </div>
                      <input #price="ngModel" type="number" [(ngModel)]='product.price' name="price" id="price"
                        class="form-control mb-4" required [min]="0">
                    </div>
                    <small class="form-text text-danger mb-4" *ngIf="price.touched && price.invalid">
                      <p *ngIf="price.errors.required">Price is required.</p>
                      <p *ngIf="price.errors.min">Price should be 0 or higher.</p>
                    </small>
                  </div>


                  <!-- Category   -->
                  <p>
                    <button mat-flat-button (click)="createOrUpdateCategory()" [disabled]="productKey" type="button"
                      class="app-btn-grey-green">To add more category</button>
                    <button mat-flat-button (click)="removeCategory()" [disabled]="productKey" type="button"
                      class="app-btn-grey-red">To active or in-active the category</button>
                  </p>

                  <mat-label>Category</mat-label>
                  <mat-select #category="ngModel" [(ngModel)]='product.category'
                    (selectionChange)="getImageList(selectedCategory,true)" [(value)]="selectedCategory" name="category"
                    id="category" class="form-control mb-4" required>
                    <mat-option *ngFor="let c of categoryList" [value]="c.key">
                      {{c.value}}
                    </mat-option>
                  </mat-select>
                  <small class="form-text text-danger mb-4" *ngIf="category.touched && category.invalid">
                    <p>category is required.</p>
                  </small>


                  <!-- <label for="category">Category</label>
                    <div class="form-group">
                        <select #category="ngModel" type="select" 
                        [(ngModel)]='product.category' name="category" id="category" (change)="getImageList(category.value)"
                        class="form-control mb-4" required>
                          <option></option>
                          <option *ngFor="let c of categoryList"  [value]="c.key" >
                            {{c.value}} 
                          </option>
                        </select>
                        
                        <small class="form-text text-danger mb-4" *ngIf="category.touched && category.invalid">
                            <p>category is required.</p> 
                        </small>
                    </div>
                      <br> -->

                  <!-- Temporarelt removed. Photo can add from Add image inside menu dd icon -->
                  <!-- <p> 
                    <button type="button" mat-flat-button class="app-btn-grey-green" [disabled]="productKey" routerLink="/image-upload/">
                      To add more product image
                      </button>
                  </p> -->

                  <!-- Image   -->
                  <mat-label>Image</mat-label>
                  <mat-select #imageUrl="ngModel" [(ngModel)]='product.imageUrl' name="imageUrl" id="imageUrl"
                    class="form-control mb-4" required>
                    <mat-option *ngFor="let img of imageList" [value]="img.imageUrl">
                      <img src='{{img.imageUrl}}' style="width: 75px;height:60px;padding: 10px;"> {{img.caption}}
                    </mat-option>
                  </mat-select>
                  <small class="form-text text-danger mb-4" *ngIf="imageUrl.touched && imageUrl.invalid">
                    <p>image is required.</p>
                  </small>

                  <label for="note">Note</label>
                  <div class="form-group">
                    <!-- Note   -->
                    <textarea #note="ngModel" type="text" [(ngModel)]='product.note' name="note" id="note"
                      placeholder="note is optional" class="form-control mb-4">
                    </textarea>
                  </div>

                  <br>

                  <!-- Action button {{productKey ? 'Update Product' : 'Create Product' }}  -->
                  <div class="div-app-button" *ngIf="!productKey; else elseActionTemplate;">

                    <button class="app-btn-green" mat-flat-button type="submit"
                      [disabled]="productFormTag.status=='INVALID'">
                      Save
                    </button>
                    <button class="app-btn-clear" mat-flat-button type="button"
                      (click)="resetProductForm(productFormTag)">
                      Clear
                    </button>
                  </div>


                  <ng-template #elseActionTemplate>
                    <div class="div-app-button">
                      <button class="app-btn-green" mat-flat-button type="submit"
                        [disabled]="productFormTag.status=='INVALID'">
                        Update
                      </button>
                    </div>

                  </ng-template>

                </form>
                <!-- Default product form   -->
              </div>

            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <!-- preview of the product -->
      <div class="col-md-6 mar-bot">
        <div *ngIf="imageUrl.value">
          <div>
            <mat-card>
              <mat-card-header>
                <div mat-card-avatar>
                  <img mat-card-avatar [src]="imageUrl.value">
                </div>
                <mat-card-title>{{title.value}}</mat-card-title>
                <mat-card-subtitle>{{selectedCategoryValue}}</mat-card-subtitle>
              </mat-card-header>
              <div class="container">
                <img mat-card-image [src]="imageUrl.value">
              </div>
              <mat-card-content>
                <p>{{price.value | currency:'USD':true}}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>