.example-header-image {
    //background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .app-button {
    border: 1px thin currentColor;
    padding: 0 15px;
    line-height: 34px;
    margin-right: 20px;
  }