.menu-div{
    background-color: rgb(243, 242, 242);
    margin-bottom: 20px;
}

.menu-div>span{
    font-weight:500;
    margin-left: 45px;
    font-size: 18px;
    color: green;
}

.maticon{
    padding-left: 8px;
    margin-right: 20px;
}

.maticon-gr{
    padding-left: 10px;
    margin-right: 13px;
    color: green;
}

.maticonbtn {
    border-radius: 0.25rem;
    background-color: #dadee2;
}

.sl{
    background-color: #dadee2;
}