.menu-div {
    background-color: rgb(243, 242, 242);
    margin-bottom: 20px;
}

.menu-div > span {
    font-weight: 500;
    margin-left: 20px;
    font-size: 18px;
    color: green;
    display: inline;
}

.maticon {
    padding-left: 8px;
    margin-right: 20px;
    display: inline;
}

// .maticon-gr {
//     margin-right: 13px;
//     display: inline;
//     color: green;
// }

.maticonbtn {
    border-radius: 0.25rem;
    background-color: #dadee2;
    display: inline;
}

.sl {
    background-color: #dadee2;
}
