.footer {
    padding-right: 10px;
    padding-top: 10px;
    font-size: smaller;
    text-align: end;
    color: grey;
}

.mat-card-avatar {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
}

mat-progress-spinner {
    transform: translate(-50%, -50%);
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 2;
    //method 1
    //backdrop-filter: blur(1px);
    //method 2
    opacity: 0.6;
    background-color: white;
}
