<div class="sidenav_container" [@onSideNavChange]="sideNavState ? 'open' : 'close'">
  <div fxLayout="column" fxLayoutGap="10px" style="height: 100%;">
    <div>
      <mat-nav-list *ngIf="appUser">
        <a mat-list-item *ngFor="let page of pages" routerLink={{page.link}} (click)="onClick(page)"
          [ngClass]="page.selected ? 'sl' : ''">
          <mat-icon>{{page?.icon}}</mat-icon>
          <span [@animateText]="linkText ? 'show' : 'hide'">{{ page?.name }}</span>
        </a>
        <!-- <a mat-list-item routerLink="/login" (click)="logout()"><mat-icon>exit_to_app</mat-icon>
          <span [@animateText]="linkText ? 'show' : 'hide'">Log out</span>
        </a> -->
      </mat-nav-list>
    </div>
  </div>
</div>