.sidenav_container {
  min-width: 60px; 
  height: calc(100vh - 200px);
}

.jim {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

  .mat-icon {
    vertical-align: text-bottom;
    margin-left: 5px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
      
  