.sidenav_container {
  min-width: 60px;
  height: calc(100vh - 200px);
}

.jim {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

span{
    padding-left: 5px;
}

.sl {
  background-color: #dadee2;
  color: green;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 0px 10px;
}
