<div class="nav-container" [class.nav-is-mobile]="mobileQuery.matches">
  <promoSg-navbar-header [sidenav]="snav"></promoSg-navbar-header>
  <mat-sidenav-container class="nav-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
    <!-- options : 'side' : 'over' -->
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <promo-menu-left *ngIf="appUser"></promo-menu-left>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="main_content">
        <div style="padding-left: 20px;padding-right: 20px;padding-top: 10px;">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>