mat-card {
  width: 450px;
}

.spinner {
  margin-left: 50%;
}

.app-button {
  border: 1px thin currentColor;
  padding: 0 15px;
  line-height: 34px;
  margin-right: 20px;
}

//table

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.img-td {
  width: 50px;
  height: 60px;
  padding: 10px;
  padding-left: 0px;
}

.img-td-spin {
  float: left;
  padding: 10px;
}
