h1.nav-app-name {
    margin-left: 8px;
}

.nav-is-mobile .nav-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.mat-icon {
    vertical-align: text-bottom;
    margin-left: 5px;
}
