<mat-form-field appearance="standard">
    <mat-label>Select month</mat-label>
    <mat-select [formControl]="multiSelectDD" (selectionChange)="onChange()" multiple>
      <mat-select-trigger>
        {{multiSelectDD.value ? multiSelectDD.value[0] : ''}}
        <span
          *ngIf="multiSelectDD.value?.length > 1"
          class="example-additional-selection"
        >
          (+{{multiSelectDD.value.length - 1}} {{multiSelectDD.value?.length === 2 ? 'other'
          : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let item of monthsArr" [value]="item"
        >{{item}}</mat-option>
    </mat-select>
  </mat-form-field>