/* You can add global styles to this file, and also import other style files */
//@import "~bootstrap/dist/css/bootstrap.css";

// body {padding-top: 80px;}
/* Importing Bootstrap SCSS file. */ 

// deeppurple-amber.css
// indigo-pink.css
// pink-bluegrey.css
// purple-green.css

@import '~bootstrap/scss/bootstrap';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body {
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    // background-image: url("gradient_bg.png");
    // background-repeat: repeat-x;
  }

  .mat-toolbar{
    background-image: url('assets/images/Promo-sg-banner1.png');
    color: white;
    //height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .mat-sidenav-content{
    // background-image: url('assets/images/Promo-sg-bg1.png');
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }

  .mat-progress-spinner circle, .mat-spinner circle {
    stroke: green;
}

  // div.footer {
  //   background-image: url('assets/images/Promo-sg-banner1.png');
  // }

// flash-message css start
.success {
  background: green;
  color: white;
  overflow-wrap: anywhere;
}
.info {
  background: #2196f3;
  color: white;
  overflow-wrap: anywhere;
}
.warning {
  background: hsl(36, 100%, 50%);
  color: white;
  overflow-wrap: anywhere;
}
.danger {
  background: red;
  color: white;
  overflow-wrap: anywhere;
}
.mat-simple-snackbar-action button {
  max-height: 26px;
  min-width: 0;
  color: white;
  border-radius: 5%;
}
.mat-simple-snackbar-action button:hover {
  background-color: black;
}

// flash-message css eng


  



