<!-- Default form register -->
<div>
    <mat-card>
        <!-- <mat-card-title>Update</mat-card-title> -->
        <mat-card-content>
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-6 mar-bot">
                        <div class="sub-header-div">
                            <span>Shop info</span>
                        </div>

                        <label for="shopName">Shop Name</label>
                        <span [ngClass]="shopName.valid ? '' : 'requiredStar'">*</span>
                        <div class="form-group">
                            <input id="shop-name" class="form-control"
                                [class.is-invalid]="shopName.invalid && shopName.touched" type="text"
                                formControlName="shopName" required>
                            <small *ngIf="shopName.errors && shopName.invalid && shopName.touched"
                                class="text-danger">Shop name at least 5 characters required.</small>
                        </div>

                        <label for="first-name">First Name </label>
                        <span [ngClass]="firstName.valid ? '' : 'requiredStar'">*</span>
                        <div class="form-group">
                            <input id="first-name" class="form-control"
                                [class.is-invalid]="firstName.invalid && firstName.touched" type="text"
                                formControlName="firstName" required>
                            <small *ngIf="firstName.errors && firstName.invalid && firstName.touched"
                                class="text-danger">First name at least 2 characters required.</small>
                        </div>


                        <label for="last-name">Last Name </label>
                        <span [ngClass]="lastName.valid ? '' : 'requiredStar'">*</span>
                        <div class="form-group">
                            <input id="last-name" class="form-control"
                                [class.is-invalid]="lastName.invalid && lastName.touched" type="text"
                                formControlName="lastName" required>
                            <small *ngIf="lastName.errors && lastName.invalid && lastName.touched"
                                class="text-danger">Last name at least 2 characters required.</small>
                        </div>

                        <label for="telephone">Telephone </label>
                        <span [ngClass]="telephone.valid ? '' : 'requiredStar'">*</span>
                        <div class="form-group">
                            <input id="telephone" class="form-control"
                                [class.is-invalid]="telephone.invalid && telephone.touched" type="text"
                                formControlName="telephone" required>
                            <small *ngIf="telephone.errors && telephone.invalid && telephone.touched"
                                class="text-danger">Telephone accepts only number and minimum length is 8
                                required.</small>
                        </div>

                        <div class="form-group mat-form">
                            <!-- <mat-form-field> -->
                            <mat-label>Select shop logo</mat-label>
                            <span [ngClass]="shopLogo.valid ? '' : 'requiredStar'">*</span>
                            <mat-select formControlName="shopLogo" name="selectedImage" id="imageUrl"
                                class="form-control mb-4" required>
                                <mat-option *ngFor="let image of shopImageList" [value]="image.imageUrl">
                                    <img src='{{image.imageUrl}}' style="width: 75px;height:60px;padding: 10px;">
                                    {{image.caption}}
                                </mat-option>
                            </mat-select>
                            <small class="form-text text-danger mb-4" *ngIf="shopLogo.touched && shopLogo.invalid">
                                <p>Shop logo selection is required.</p>
                            </small>
                        </div>

                        <div class="form-group mat-form">
                            <!-- <mat-form-field> [todo : create shoppicture category] -->
                            <mat-label>Select shop picture</mat-label>
                            <span [ngClass]="shopPicture.valid ? '' : 'requiredStar'">*</span>
                            <mat-select formControlName="shopPicture" name="selectedImage" id="imageUrl"
                                class="form-control mb-4" required>
                                <mat-option *ngFor="let image of profileImageList" [value]="image.imageUrl">
                                    <img src='{{image.imageUrl}}' style="width: 75px;height:60px;padding: 10px;">
                                    {{image.caption}}
                                </mat-option>
                            </mat-select>
                            <small class="form-text text-danger mb-4"
                                *ngIf="shopPicture.touched && shopPicture.invalid">
                                <p>Shop logo selection is required.</p>
                            </small>
                        </div>

                        <label for="fax">Fax </label>
                        <span [ngClass]="fax.valid ? '' : 'requiredStar'">*</span>
                        <div class="form-group">
                            <input id="fax" class="form-control" [class.is-invalid]="fax.invalid && fax.touched"
                                type="text" formControlName="fax" required>
                            <small *ngIf="fax.errors && fax.invalid && fax.touched" class="text-danger">Fax accepts only
                                number and minimum length is 6 required.</small>
                        </div>

                        <label for="hotline">Hotline </label>
                        <span [ngClass]="hotline.valid ? '' : 'requiredStar'">*</span>
                        <div class="form-group">
                            <input id="hotline" class="form-control"
                                [class.is-invalid]="hotline.invalid && hotline.touched" type="text"
                                formControlName="hotline" required>
                            <small *ngIf="hotline.errors && hotline.invalid && hotline.touched"
                                class="text-danger">Hotline accepts only number and minimum length is 8
                                required.</small>
                        </div>



                    </div>
                    <div class="col-md-6 mar-bot">


                        <div class="mar-bot">
                            <address [parentForm]="profileForm"></address>
                        </div>

                        <div formGroupName="weblink" class="form-group">
                            <div class="sub-header-div">
                                <span>Web link</span>
                            </div>

                            <div class="row weblink" *ngFor="let link of weblink.controls; let i=index">
                                <div>
                                    <div class="input-group">
                                        <input id="link-{{ i }}" class="form-control" type="text" [formControlName]="i">
                                        <div class="input-group-btn">
                                            <!-- Buttons -->
                                            <mat-icon class="app-button" color="warn" type="button"
                                                (click)="removeWeblink(i)">delete_forever</mat-icon>
                                        </div>
                                    </div>
                                </div>
                            </div>

                                

                        </div>

                        <div class="add-web-btn">
                            <button mat-flat-button class="app-btn-grey-green" (click)="addWebLink()"
                                [disabled]="addWebLinkDisable()" type="button">Add more web link</button>
                        </div>

                        <br><br><br>
                        <div class="sub-header-div">
                            <span>About shop </span>
                        </div>

                        <label for="aboutShop">About shop </label>
                        <span [ngClass]="aboutShop.valid ? '' : 'requiredStar'">*</span>
                        <div class="form-group textarea-wrapper">
                            <textarea class="form-control ta-height" maxlength="500"
                                (ngModelChange)="onAboutShopChange(aboutShop.value)"
                                placeholder="Leave a shop information"
                                [class.is-invalid]="aboutShop.invalid && aboutShop.touched"
                                formControlName="aboutShop"></textarea>
                            <span class="remaning">{{remaningText}}/500</span>
                            <small *ngIf="aboutShop.errors && aboutShop.invalid && aboutShop.touched"
                                class="text-danger">Leave a shop information is required and minimum length is
                                50.</small>
                        </div>

                    </div>



                    <div class="div-app-button">
                        <button mat-flat-button class="app-btn-green" [disabled]="!profileForm.valid"
                            type="submit">
                            Update
                        </button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
<br>