.formgroupheader {
  margin-top: 10px;
}

label {
  margin: 0.5em 0;
}

.mat-form {
  padding-top: 10px;
}

.sub-header-div {
  background-color: rgb(243, 242, 242);
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 0px;
  border-left-color: green;
  border-left-style: outset;
}

.sub-header-div > span {
  font-weight: 500;
  margin-left: 20px;
  font-size: 18px;
  color: green;
  display: inline;
}

.add-web-btn{
  float: right;
}

.requiredStar {
  color: red;
  margin-left: 2px;
}

.div-app-button {
  margin-top: 20px;
  text-align: center;
}

.weblink {
  margin: 0.5em 0;
}

.app-button {
  border: 1px thin currentColor;
  padding: 0 15px;
  line-height: 34px;
  margin-right: 20px;
}

.app-btn-green{
  background-color: green;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 0px;
  margin-right: 10px;
}

.app-btn-clear{
  background-color: rgb(228, 226, 226);
  color: black;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 10px;
  margin-right: 0px;
}

.remaning {
  position: absolute;
  right: 0px;
  font-size: 10px;
  color: grey;
}

.textarea-wrapper {
  position: relative;
}

.ta-height {
  height: 170px;
}

.mar-bot {
  margin-bottom: 20px;
}
